<div class="po-wrapper">
  <po-toolbar 
    p-title="title">
    <po-button
    class="po-sm-12"
    [p-disabled]="properties.includes('disabled')"
    [p-icon]="icon"
    [p-label]="label"
    [p-loading]="properties.includes('loading')"
    [p-small]="properties.includes('small')"
    [p-type]="type"
    (p-click)="buttonClick()">
  </po-button>
  </po-toolbar>
  <po-menu 
    p-collapsed
    p-filter
    [p-menus]="menus"
  >
  <div *p-menu-header-template class="po-p-2 po-font-title sample-menu-header-text-color">
    <p> Bem vindo, </p>
    <p>
      <b> John Doe </b>
    </p>
  </div>
  </po-menu>
  <po-page-default p-title="AppName">
    <p> AppName page </p>
  </po-page-default>
</div>
