<div class="po-wrapper" *ngIf="isAuth()">
    <po-menu
        class="color-primary-dark"
        p-expand
        p-filter
        [p-menus]="menus"
        
    >
        <div
            *p-menu-header-template
            class="po-p-2 po-font-title sample-menu-header-text-color"
        >
            <p>Bem vindo,</p>
            <p>
                <b>John Doe</b>
            </p>
        </div>
    </po-menu>
    <po-page-default>
        <app-indicadores></app-indicadores>
        <router-outlet></router-outlet>
    </po-page-default>
</div>
<app-login *ngIf="!isAuth()"></app-login>
